[submodule "ref/DynMoE"]
	path = ref/DynMoE
	url = https://github.com/LINs-lab/DynMoE
[submodule "data/ARC-AGI"]
	path = data/ARC-AGI
	url = https://github.com/fchollet/ARC-AGI.git
[submodule "data/ARC-AGI-2"]
	path = data/ARC-AGI-2
	url = https://github.com/arcprize/ARC-AGI-2.git
[submodule "ref/CircleRoPE"]
	path = ref/CircleRoPE
	url = https://github.com/lose4578/CircleRoPE.git
[submodule "ref/arc-prize-2024"]
	path = ref/arc-prize-2024
	url = https://github.com/da-fr/arc-prize-2024.git
