[submodule "ref/DynMoE"]
	path = ref/DynMoE
	url = https://github.com/LINs-lab/DynMoE
[submodule "ref/native-sparse-attention-pytorch"]
	path = ref/native-sparse-attention-pytorch
	url = https://github.com/lucidrains/native-sparse-attention-pytorch.git
[submodule "ref/DCFormer"]
	path = ref/DCFormer
	url = https://github.com/Caiyun-AI/DCFormer.git
[submodule "data/ARC-AGI"]
	path = data/ARC-AGI
	url = https://github.com/fchollet/ARC-AGI.git
[submodule "data/ARC-AGI-2"]
	path = data/ARC-AGI-2
	url = https://github.com/arcprize/ARC-AGI-2.git
